/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.strikethrough {
	text-decoration: line-through;
}

.fielderror {
	color: red;
}

.top {
  vertical-align: top;
}

.button.red {
  background-color: red;
}

.button.orange {
  background-color: orange;
}

.form-container {
    display: flex;
    align-items: end;
}

